@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Rubik', sans-serif;
}
.container{
    
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr;
    grid-gap: 1em;
    
    
}
.container_schuif{
    display: grid;
    grid-template-columns: 0.1fr 1.1fr .5fr;
    grid-gap: 1em;
    margin-top: 5%;
    margin-left: 18%; 
}
.container_anderform{
    display: grid;
    grid-template-columns: .5fr 0.1fr 1.1fr ;
    grid-gap: 1em;
    margin-top: 5%;
    margin-left: 15%; 
}
.container__numColor{
    width: 80%; 
    height: 12%;
    background-color: #EB452E;
    transform: skew(-25deg) ;
    margin-top: -25%;
    margin-left: 295%; 
    z-index: 2;
    
}
.container__number{
    z-index: 3;
    font-size: 40px;
    margin-left: 285%;
    position: relative;
    background: none;
}
.container__img{
    width: 40%;
    border: 1px solid black;
    transform: skew(-20deg);
    margin-left: 25%; 
    z-index: 1;
}
.contactKnop{
    background-color: #EB452E;
    color: white;
}
#contact{
    text-align: center;
    padding: 4em;
}
#contact button{
    margin: 3em;
    padding: 1em;
    border-radius: 25px;
}
#contact button:hover{
    background-color: black;  
  color: white;
  border: 2px solid #EB452E;
}
.container_text{
    margin-top: 10%;
    margin-right: 50%;
}
.container_schuif_text{
    margin-top: 10%;
    margin-right: 5%;
}
.container_anderform_text{
    margin-top: 10%;
    margin-right: 5%;
}



.onsWerkContainer{
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-gap: 2em;
    padding: 10em;
}
.slide {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #4e4d4d;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    transition: background-color 0.6s ease;
    margin-bottom: 1em;
  }
  #slide{
      margin-top: 7em;
      margin-left: 2em ;
  }

  .active, .slide:hover {
    background-color: white;
    height: 10px;
    width: 10px;
  }
  .onsWerkContainer__button{
    text-align: center;
    margin-top: 5em;
    padding: 1em;
    border-radius: 25px; 
    background-color: #EB452E ;
    color: white;
  }
  .onsWerkContainer__button:hover{
  background-color: black;  
  color: white;
  border: 2px solid #EB452E;  
  }
  #onsWerk__titel{
    text-align: center;
    margin-top: 2em;
  }
  .mySlides fade{
      width: 100%;
  }

  /* // lightbox */
#modaall{
    position: fixed;
    top : 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(0,0,0,0.7);
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;

}
.modaallInhoud{
    background-color: #EB452E;
    padding: 1.5em 2em;
    max-width: 40vw;
    max-height: calc(90vh-2em);
    margin-top: 1em;
    overflow: auto;
    border-radius: 4px;
    resize: vertical;
}

.sk{
   float: right;
   font-size: 2em;
   cursor: pointer;
   padding: 5px;
   
}
.sk:hover{
    color:  black;
}
@keyframes vanOnder{
    0% {margin-top: 100vh;}
    100%{margin-top: 0;}
}
#pass-status{
  margin-left: -1.9em;
}
@media screen and (min-width: 370px) and (max-width: 1200px){
    .overHuyat{
        display: grid;
        grid-template-columns: 0.05fr 1.1fr 1fr;
        grid-gap: 1em;
        
    }
    .overHuyat p{
      margin-top: -10%;
      margin-right: 5%;
    }
    .overHuyat2{
        display: grid;
        grid-template-columns: 0.1fr 1.1fr 1fr;
        grid-gap: 1em;
        margin-top: 15%;
        margin-left: 6%; 
    }
    .overHuyat2 p{
        margin-top: -10%;
      margin-right: 5%;
    }
    .overHuyat3{
        display: grid;
        grid-template-columns: 1fr 0.08fr 1.1fr ;
        grid-gap: 1em;
        margin-top: 15%;
        margin-left: 10%; 
    }
    .overHuyat3 p{
        margin-top: -10%;
      margin-right: 5%;
    }
    .numColor{
        width: 95%; 
        height: 7%;
        background-color: #EB452E;
        transform: skew(-25deg);
        margin-top: -20%;
        margin-left: 195%; 
        z-index: 2;
        
    }
    .number{
        z-index: 1;
        font-size: 20px;
        margin-left: 185%;
        margin-top: 5%;
       
    
    }
    .num{
        margin-top: 3em;
    }
    .onsWerk{
        display: grid;
        grid-template-columns: .5fr 0.1fr .5fr;
        grid-gap: 2em;
        padding: 2em;
      
    }
    .fotos{
        margin-top: 7em;
    }
    .overOns--element img {
        margin-top: 3.5em;
        width: 63%;
    }
}